<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        #bar {
            width: auto;
            height: 35px;
            background-color: black;
            position: sticky;
            top: 0;
        }
    </style>
</head>
<body>
<div id="bar">
<p align="center"><a href="http://127.0.0.1:8002/out" style="color: blue">longout</a></p>
</div>
<h1>welcome to the home</h1>
<a href="Best%20Relax%20Music%2001.mp3" type="_blank" download="best-music"><p align="center">click for download music</p></a>
</body>
</html>